.middle_conn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
  }
  .left_conn{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
   
  }
  