
<ion-grid style="background-color: #1d1d1d; border:1px solid #000000; border-radius: 0px;">
    <ion-col style="padding: 0px;">
        <ion-row class="middle_conn" style="color: #ffffff; height:100px; "> <ion-icon style="font-size: 80px;" name="person-circle-outline"></ion-icon></ion-row>
        <ion-row class="left_conn"  style="color: #ffffff;height:30px;">{{this.user_name }}</ion-row>
        <ion-row class="left_conn"  style="color: #ffffff;height:30px;cursor: pointer;" (click)="logout()">Logout</ion-row>
    </ion-col>
</ion-grid>
