<ion-app>
  <ion-split-pane contentId="main-content" style="padding:0px;">
    <ion-menu contentId="main-content" type="push" style="padding:0px;">
      <ion-content style="padding:0px;">
        <ion-list style="padding:0px;">
          <ion-list-header style="padding:0px;"><div class="middle_conn"><img src="../assets/images/logo.png" style="height: 70px;"> </div></ion-list-header>
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item *ngIf="p.url !=''" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            <ion-item button *ngIf="p.child?.length > 0" (click)="p.open = !p.open" [class.active-parent]="p.open" detail="false" lines="none">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label >{{ p.title }}</ion-label>
            </ion-item>
           
            <ion-list *ngIf="p.open" style="padding: 0px;">
              <div *ngFor="let sub of p.child;let i = index" style="background:#080808 !important">
                <ion-item  routerDirection="root" [routerLink]="[sub.url]" lines="none"
              detail="false"  style="--background:#080808 !important">
                  <!--<ion-icon style="padding-left:10px"  class="menu_icon" slot="start" [ios]="sub.icon + '-outline'" [md]="sub.icon + '-sharp'"></ion-icon>-->
                  <ion-label style="padding-left:50px"  >{{ sub.title }}</ion-label>
                </ion-item>
              </div>

            </ion-list>
            <ion-list *ngIf="p.open" style="padding:0px;height:1px; background-color: #D2BE62">
             
            </ion-list>
          </ion-menu-toggle>
        </ion-list>

        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
